body{
    display: grid;
    justify-content: center;
    background-color: hsl(212, 45%, 89%);
    font-family: "Outfit";
    
}
.card-qr-code{
    max-width: 300px;
    margin-top: 5rem;
    
    background-color: hsl(0, 0%, 100%);
    padding: 1rem;
    border-radius: 1rem;
}
.qr-code-image{
    width: 100%;
    border-radius: 0.5rem;
}
.card-heading{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}
.card-sub-title{
    font-size: 0.938rem;
    text-align: center;
    width: 80%;
    justify-self: center;
    font-weight: 400;
    color:hsl(216, 15%, 48%)
}

